JWT_PUBLIC_KEY='{"kty":"RSA","n":"yxRealJkeucN9JBUxjiu2VV56zwXJAe0_XcX1j2yf8xCLdaslqLm4EOH267PUL8Rb1_1Yh3P4MhyCIxdlvTl-Jc9EUU7A0en84SjnRvJRoy-4VBLvJmvdZtpjcakhPNmDkuZ8NoFbP7nTcSWIu9MjCn9kXzMR17Salxx7EbqWJMP94xm1EKa8WDJWlZMzjXPfvvIAktqIB8SvkiYk0n9FiisURRgOJHxambxJqBvhqXTfuVoq19pgDguBixEOHYw7jabs4Yw_Ya6L7XAx10eQjTuF_S9-dacck7-ZZ0nkjZ9NsdTh5PwrQr_4KP8M2FfSrR93mffWDAMzUkVeblGlQ","e":"AQAB"}'
REDIS_URL=redis://redis:6379
DB_USER=
DB_PASSWORD=
DB_HOST=scribo.ugbn8mu.mongodb.net
DB_NAME=dev

MONGODB_URI=
